{% extends "base.html" %}
{% block content %}
<style>
    h1,
    h2 {
        text-align: center;
    }
</style>

<div
    class="container pt-10 pb-20 md:pb-32 md:pt-24 space-y-6 h-full mx-auto pl-5 pr-5 md:max-w-5xl max-w-lg flex flex-col justify-center items-center">

    <h1 class="text-3xl font-bold pb-8">Education</h1>

    <div class="pb-12 flex-row md:max-w-2xl text-center">
        <div class="flex place-items-center">
            <h2 class="text-2xl font-bold pb-0 mb-0 pr-10 md:pr-48 text-left">California State<br>University, Fullerton</h2>
            <span class="ml-4">Aug 2022 - Present</span>
        </div>
        <h3 class="text-lg pt-0 mt-0 text-left"><em>B.S. in Computer Science</em></h3>
    </div>

    <div class="pb-2 flex-row md:max-w-2xl text-center">
        <div class="flex place-items-center">
            <h2 class="text-2xl font-bold pb-0 mb-0 pr-10 md:pr-[135px] text-left">Mt. San Antonio College</h2>
            <span class="ml-4">Aug 2020 - June 2022</span>
        </div>
        <h3 class="text-lg pt-0 mt-0 text-left"><em>Transfer</em></h3>
    </div>

</div>

{% endblock %}