{% extends "template.html" %} 
{% block content %}

<div class="card-container">
  <div class="card">
    <h3>Priya: Current Education</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
    </p>
  </div>
  <div class="card">
    <h3>Priya: Previous Education</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
</div>

<div class="card-container">
  <div class="card">
    <h3>Joel: Current Education</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
    </p>
  </div>
  <div class="card">
    <h3>Joel: Previous Education</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
</div>

{% endblock %}
