{% extends "template.html" %}

{% block content %}

<h1 class="row hobby-title">Priya's Hobbies</h1>

<div class="card-container">
    <div class="card">
      <h3 class="mb-4">Reading</h3>
      <img src="static\img\book.jpg" class="rounded-md" alt="book">
      <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
      </p>
    </div>
    <div class="card">
      <h3 class="mb-4">Playing Video Games</h3>
      <img src="static\img\rdr2.jpg" class="rounded-md" alt="rdr2">
      <p class="mt-3">Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
    </div>
    <div class="card">
      <h3 mb-4>Cooking</h3>
      <img src="static\img\cooking.jpg" class="rounded-md" alt="cooking">
      <p class="mt-3">Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
    </div>
  </div>
</div>

<h1 class="row hobby-title">Joel's Hobbies</h1>

<div class="card-container">
    <div class="card">
      <h3 class="mb-4">Guitar</h3>
      <img src="static\img\guitar.jpg" class="rounded-md" alt="guitar">
      <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
      </p>
    </div>
    <div class="card">
      <h3 class="mb-4">Playing Video Games</h3>
      <img src="static\img\deep-rock-galactic.jpg" class="rounded-md" alt="game">
      <p class="mt-3">Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
    </div>
    <div class="card">
      <h3 class="mb-4">Coding</h3>
      <img src="static\img\coding.jpeg" class="rounded-md" alt="coding">
      <p class="mt-3">Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
    </div>
  </div>
</div>

{% endblock %}
