{% extends "base.html" %}
{% block content %}
<style>
    h1,
    h2 {
        text-align: center;
    }
</style>

<div
    class="container pt-10 pb-20 md:pt-24 space-y-6 h-full mx-auto pl-5 pr-5 md:max-w-5xl max-w-lg flex flex-col justify-center items-center">

    <h1 class="text-3xl font-bold pb-8">Hobbies</h1>

    <h2 class="text-2xl font-bold pb-2">Video Games</h2>

    <p class="md:max-w-xl">I've been a gamer since I was a kid, and I've always loved the challenge and excitement of
        playing video games. I'm particularly drawn to games that are cooperative and require teamwork, as I enjoy
        working together with others to achieve a common goal.

        Some of my favorite games include Project Zomboid, Overwatch, and Deep Rock Galactic.</p>

    <h2 class="text-2xl font-bold pb-2">Guitar</h2>

    <p class="md:max-w-xl">
        I've been playing the guitar for around 3 years, and it's one of my favorite things to do. It's a great way to
        express myself and relax.</p>

    <h2 class="text-2xl font-bold pb-2">Coding</h2>

    <p class="md:max-w-xl">I enjoy programming because it is a creative and challenging activity that allows me to solve
        problems and build things. I love the feeling of accomplishment when I finally get my code to work correctly. I
        also love the challenge of learning new programming languages and frameworks. I find it satisfying to be able to
        create something that solves a real-world problem.

        I also enjoy the sense of community among programmers and the feeling of being part of something bigger than
        myself. I'm always learning new things about coding, and I love the feeling of constantly expanding my
        knowledge.</p>

</div>

{% endblock %}