{% extends "base.html" %}
{% block content %}
<style>
    h1,
    h2 {
        text-align: center;
    }
    .contentbg {
        background-color: #282c37;
    }
    body,
    .primarybg {
        background-color: #191b22;
    }
    .accentbg {
        background-color: #6364ff;
    }
    .accentbg:hover {
        background-color: #4c4cff;
    }
</style>

<div
    class="container text-white pt-10 pb-20 md:pb-32 md:pt-24 space-y-6 h-full mx-auto pl-5 pr-5 md:max-w-5xl max-w-lg flex flex-col justify-center items-center">

    <h1 class="text-3xl font-bold pb-8">About Me</h1>

    <div class="pb-10">
        <img src="{{url_for('static',filename='img/joel.png')}}" class="w-60 rounded-full aspect-auto"
            alt="Profile Picture">
    </div>

    <div class="contentbg p-5 border border-transparent rounded-lg md:max-w-xl space-y-5">
        <p>Hi there! I'm Joel, a computer science major at <strong>California State University, Fullerton</strong>.</p>
    </div>

</div>

{% endblock %}