<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      lang="sass"
      rel="stylesheet"
      href="{{url_for('static',filename='styles/main.css')}}"
    />
    <link
      rel="icon"
      href="{{url_for('static',filename='img/mlh.ico')}}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="{{url_for('static',filename='us-states.js')}}"></script>

    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'navbar.html' %} {% block content %}{% endblock %}
  </body>
  <div class="card-container">
    <div id="map"></div>
  </div>
  <script>
    var map = L.map("map").setView([37.8, -96], 4);

    var tiles = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    L.geoJson(statesData).addTo(map);

    function getColor(v) {
      switch (v) {
        case 1: // both visited
          return "#ababcc";
        case 2: // joel
          return "#8da6ba";
        case 3: // priya
          return "#a2c999";
        default: // neither
          return "#e8e8e8";
      }
    }
    function getLabel(v) {
      switch (v) {
        case 1: // both visited
          return "Both";
        case 2: // joel
          return "Joel";
        case 3: // priya
          return "Priya";
        default: // neither
          return "Neither";
      }
    }

    function style(feature) {
      return {
        fillColor: getColor(feature.properties.visited),
        weight: 1,
        opacity: 0,
        color: "white",
        dashArray: "0",
        fillOpacity: 0.75,
      };
    }

    function highlightFeature(e) {
      var layer = e.target;

      layer.setStyle({
        weight: 5,
        color: "#fff",
        dashArray: "",
        fillOpacity: 1,
      });

      layer.bringToFront();
    }

    function resetHighlight(e) {
      geojson.resetStyle(e.target);
    }

    function zoomToFeature(e) {
      map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature,
      });
    }

    geojson = L.geoJson(statesData, {
      style: style,
      onEachFeature: onEachFeature,
    }).addTo(map);

    var info = L.control();

    info.onAdd = function (map) {
      this._div = L.DomUtil.create("div", "info"); // create a div with a class "info"
      this.update();
      return this._div;
    };

    // method that we will use to update the control based on feature properties passed
    info.update = function (props) {
      this._div.innerHTML = "<h4>Visited States</h4>";
    };

    info.addTo(map);

    var legend = L.control({ position: "bottomright" });

    legend.onAdd = function (map) {
      var div = L.DomUtil.create("div", "info legend"),
        grades = [1, 2, 3];

      // loop through our density intervals and generate a label with a colored square for each interval
      for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
          '<i style="background:' +
          getColor(grades[i]) +
          '"></i> ' +
          getLabel(grades[i]) +
          "<br>";
      }

      return div;
    };

    legend.addTo(map);
  </script>
</html>
