<header class="nav-bar">
    <div class="nav-content">
      <div class="nav-collect">
        <div class="nav-logo">
          <a href="/"><img src="{{url_for('static',filename='img/logo.svg')}}" /></a>
        </div>
      </div>
      <div class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/work">Work Experience</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/map">Map</a></li>
      </div>
        </div>
    </div>
</header>

  <div class="profile">
    <div id="profile-picture" class="profile-picture md:pt-5 pt-24 md:pr-32 pr-44 nav-center">
      <div class="profile-line">
        <img src="{{url_for('static',filename='img/priya.jpg')}}" />
        <img src="{{url_for('static',filename='img/joel.jpg')}}" />
    </div>
  </div>
    <h1>{{ title }}</h1>
  </div>