{% extends "base.html" %}
{% block content %}

<style>
    .contentbg {
        background-color: #282c37;
    }

    body,
    .primarybg {
        background-color: #191b22;
    }

    .accentbg {
        background-color: #6364ff;
    }

    .accenttext {
        color: #606984;
    }

    .accentbg:hover {
        background-color: #4c4cff;
    }
</style>

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div
    class="container text-white pt-10 pb-20 md:pb-32 md:pt-24 space-y-6 h-full mx-auto pl-5 pr-5 md:pr-48 md:max-w-5xl max-w-lg flex flex-col justify-center items-center">

    <div class="flex flex-col md:flex-row">
        <div class="grow-0 pb-12">
            <div class="border pb-4 rounded-md border-transparent">
                <form action="/timeline/search" method="GET" class="flex contentbg p-2 rounded-md">
                    <input name="query" type="text" placeholder="Search here" class="contentbg">
                    <button type="submit" class="accenttext">Submit</button>
                </form>
            </div>
            <form class="w-full md:w-[25vh]" id="timeline-form" method="POST" action="/timeline">
                <div class="contentbg p-5 rounded-md">
                    <div class="mb-2">
                        <label for="name" class="block font-medium">Name:</label>
                        <input type="text" id="name" name="name" placeholder="John Doe"
                            class="mt-1 text-black block w-full border border-gray-300 p-2 rounded" maxlength="25"
                            required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block font-medium">Email:</label>
                        <input type="email" id="email" name="email" placeholder="johndoe@email.com"
                            class="mt-1 text-black block w-full border border-gray-300 p-2 rounded" maxlength="25"
                            required>
                    </div>
                    <div class="mb-4">
                        <textarea id="content" placeholder="What's on your mind?" name="content" rows="3"
                            class="mt-1 text-black block w-full border border-gray-300 p-2 rounded" maxlength="500"
                            required></textarea>
                    </div>
                </div>
                <button type="submit"
                    class="accentbg mt-4 float-right hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Publish!
                </button>
            </form>
        </div>
        <div class="md:pl-5">
            <div class="space-y-3 contentbg border rounded-md border-transparent">

                <h2 class="text-lg flex items-center font-bold p-3 text-left border-b-2 border-gray-700"><span
                        class="material-symbols-outlined pr-2">
                        home
                    </span>Home</h2>

                {% if not posts %}
                <div class="p-4 border-b-2 border-gray-700 w-[35vh] md:w-[55vh]">
                    <h2 class="font-semibold text-xl pb-3">No posts found!</h2>
                </div>
                {% endif %}

                {% for post in posts %}
                <div class="p-4 border-b-2 border-gray-700 w-[35vh] md:w-[55vh]">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-row">
                            <div class="pr-2"><img class="w-8 rounded-md"
                                    src="http://www.gravatar.com/avatar/{{md5_hash_email(post.email)}}"></div>
                            <h4 class="text-lg font-semibold text-center pb-4">@{{post.name}}</h4>
                        </div>
                        <span class="text-right accenttext">{{post.created_at.strftime("%b %d")}}</span>
                    </div>
                    <p class="pl-2 md:pl-10">{{post.content}}</p>
                    <div class="flex flex-row pt-6 justify-between">
                        <div class="flex items-center">
                            <button class="hover:text-green-500 material-symbols-outlined">
                                reply
                            </button>
                            <span class="pl-1 text-sm accenttext">
                                {{ range(1, 999) | random }}
                            </span>
                        </div>
                        <button class="hover:text-red-500 material-symbols-outlined">
                            favorite
                        </button>
                        <button class="hover:text-yellow-500 material-symbols-outlined">
                            bookmark
                        </button>
                        <button class="hover:text-red-500 material-symbols-outlined">
                            flag
                        </button>
                        <button class="material-symbols-outlined">
                            more_horiz
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}