{% extends "template.html" %} {% block content %}

<div class="card">
  <h1 class="work-title">Priya Work Experience</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut semper
    nunc. Fusce congue, quam id porttitor rutrum, justo risus luctus purus, id
    aliquam mauris felis nec justo. Phasellus tincidunt purus in ex fermentum
    vulputate. Mauris non turpis vestibulum, congue tellus eget, aliquam velit.
    Nulla vel convallis purus. Nam sollicitudin eu est eu laoreet.
  </p>
</div>

<div class="card-container">
  <div class="card">
    <h3>Work Experience 1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
    </p>
  </div>
  <div class="card">
    <h3>Work Experience 2</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
  <div class="card">
    <h3>Work Experience 3</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
</div>

<div class="card card-title">
  <h1 class="work-title">Joel Work Experience</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut semper
    nunc. Fusce congue, quam id porttitor rutrum, justo risus luctus purus, id
    aliquam mauris felis nec justo. Phasellus tincidunt purus in ex fermentum
    vulputate. Mauris non turpis vestibulum, congue tellus eget, aliquam velit.
    Nulla vel convallis purus. Nam sollicitudin eu est eu laoreet.
  </p>
</div>

<div class="card-container">
  <div class="card">
    <h3>Work Experience 1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.
    </p>
  </div>
  <div class="card">
    <h3>Work Experience 2</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
  <div class="card">
    <h3>Work Experience 3</h3>
    <p>Doloremque commodi unde eaque! Et natus dolorum corrupti ut numquam.</p>
  </div>
</div>
{% endblock %} ```
