p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  background-color: #f5f5f9;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
}

.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c539f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
}

.nav-logo {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.nav-collect {
  display: inline-flex;
  list-style-type: none;
  overflow: hidden;
}

.nav-items {
  display: inline-flex;
  list-style-type: none;
  overflow: hidden;
  float: right;
}

.nav-bar li {
  float: right;
  text-align: right;
  justify-content: right;
  font-size: 18px;
  font-weight: normal;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  margin-right: 1em;
  margin-left: 0.5em;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.profile {
  background-color: #1d539f !important;
  text-align: center;
  height: 320px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.profile-line {
  display: flex;
  height: 320px;
  width: 300px;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.profile img {
  border-radius: 90%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.profile .profile-picture {
  margin-bottom: 30px;
  height: 200px;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #1d539f;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

/* About Me */

.about-container {
  padding: 3em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: black;
  text-align: center;
}

.about-me {
  color: black;
  font-size: 20px;
}

/* Work Experience */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 300px 300px;
  margin: 1rem;
  padding: 3em;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card h3 {
  text-align: center;
}

.work-title {
  text-align: center;
}

/* Hobbies */
.hobby-title {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  width: 500px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#map {
  height: 60vh;
  width: 50%;
  margin-bottom: 6vh;
}
